
.calc-container{
  background-color: #64b255;
  width:325px;
  height:400px;
  cursor: pointer;
  border: bold solid white;
cursor: pointer;

}

.number-container{
display:flex;
flex-wrap: wrap;
width:100%;
justify-content:space-between;

}

.number{
  width: 25%;
  height:80px;
  border: 1px solid #9ed096;
  background-color: #64b255;
  color: white;
  font-size: 30px;
}

.equal{
  width: 25%;
  height:80px;
  border: 1px solid #9ed096;
  background-color: #64b255;
  color: white;
  font-size: 30px;
}

#input-box{
  width:74%;
  height:80px;
  border: 1px solid #9ed096;
  background-color: #64b255;
  padding-left: 2px;
  color: white;
  font-size: 30px;

}


.divide, .multiply, .sub, .add{
  background-color: #82c276;
  color:#4d7342;
  width: 25%;
  height:80px;
  border: 1px solid #9ed096;
  font-size: 30px;

}

#clear{
  width: 24%;
  height:84px;
  border: 1px solid #9ed096;
  background-color: #64b255;
  color: white;
  font-size: 30px;


}

#clear:hover{
  background-color: #9ed096;
}

.equal:hover{
  background-color: #82c276;
}

.divide:hover{
  color: white;
}

.sub:hover{
  color: white;
}

.add:hover{
  color: white;
}

.multiply:hover{
  color: white;
}
